body { 
    font-family: 'Raleway';
    background-color: #F4F5F9;
}

#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F4F5F9;
    padding: none;
    padding-left: 5%;
}

#scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article {
    position: relative;
    padding: 0 1rem;
    max-width: 35rem;
}

.scrollfigure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #F4F5F9;
}

.step {
    margin: 0 auto 2rem auto;
    background-color: #F4F5F9;
    color: #F4F5F9;
    transition: all .5s;
}
.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    box-shadow: 5px 5px 10px #999999;
    background-color: #fff;
    color: #3b3b3b;
}

.step h1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.step p {
    text-align: left;
    font-size: 1.2rem;
    margin-right: 5%; 
    margin-left:5%;
}

#heading {
    color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.waffle {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 15%;
    margin-right: 35%;
}

.headtext {                             
    font-size: 1.5rem;
    margin-left: 30%;
    margin-right: 35%;
}
  
.block {
    width: 7%;
    height: 7%;
    margin: .6%;
    border-style: solid;
    border-color: none;
}

#outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}